/* .make-your-move {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    width: 250px;
    border-radius: 15px;
  }

  .make-your-move.blue {
    color: blue;
  }
  
  .make-your-move.red {
    color: red;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 45px);
    grid-template-rows: repeat(5, 45px);
    gap: 0px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    margin-left: 10px;
}

.submit-button {
    background-color: black;
    color: white;
    padding: 10px 80px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    font-size: medium;
  }

  .footer{
    background-color: #fff;
    width: 280px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
    color: grey;
} */


/* PageFour.css */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.time-up-message {
  text-align: center;
  color: red;
  font-size: 1.2em;
  margin-top: 10px;
}

.container header {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-left: 150px;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.header, .footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-one {
  width: 150px;
}

.make-your-move {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 1000;
  width: 250px;
  border-radius: 15px;
}

.make-your-move.blue {
  color: blue;
}

.make-your-move.red {
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.dot {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.blue {
  background-color: blue;
}

.dot.red {
  background-color: red;
}

.button-container {
  margin-top: 20px;
}

.submit-button {
  background-color: black;
  color: white;
  padding: 10px 80px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 1000;
  font-size: medium;
}

.footer{
  background-color: #fff;
  width: 280px;
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
  color: grey;
}

