  .container-two {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    width: 250px;
    border-radius: 15px;
  }


.red {
    margin: 4px;
    color: red;
}

.or {
    margin: 4px;
    color:white;
}

.blue {
    margin: 4px;
    color: blue;
}

.red-circle {
    margin: 10px;
    border: 50px solid red;
    border-radius: 50%;
    /* width: 100px;
    height: 100px; */
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.red-circle.selected::after {
    content: '';
    position: absolute;
    top: -60px; 
    left: -61px; 
    width: 120px; 
    height: 120px; 
    border: 4px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

.blue-circle {
    border: 50px solid blue;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
}


.blue-circle.selected::after {
    content: '';
    position: absolute;
    top: -60px; 
    left: -61px; 
    width: 120px; 
    height: 120px; 
    border: 4px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}
  
.select-button {
    background-color: white;
    color: black;
    padding: 10px 80px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    font-size: medium;
  }

  .footer{
    background-color: #fff;
    width: 280px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
    color: grey;
}
